.text-form {
  display: flex;
  justify-content: center;
}
.text-form > .input {
  background: white;
  color: var(--primary-blue);
  margin-right: 10px;
  width: 25ch;
}

.text-form > * {
  flex-shrink: 0;
  flex-grow: 0;
}
