.slideshow {
  margin: 0 calc(-1 * var(--padding-horizontal-mobile)) 50px;
/* background: red; */
  display: flex;
  justify-content: center;
}
.active{background-color: red;}
.slideshow-mask {
  overflow: hidden;
  width: 100%;
  max-width: 2500px;
}
.slideshow-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: transform 1.5s cubic-bezier(.25, 0.1, 0.32, 1.1);
  min-height: 50px;
}
.slideshow-container > * {
  flex-shrink: 0;
  flex-grow: 0;
}
.slideshow-dot {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 100%;
  background: white;
  border: 2px solid var(--primary-orange);
}
.slideshow-dot.active {
  background: var(--primary-orange);
}
/* .slideshow-item.active {
  background-color: red;
} */
@media screen and (min-width: 1440px) {
  .slideshow {
    margin: 0 calc(-1 * var(--padding-horizontal-desktop)) 50px;
  }
}
