main>h2{
  margin-top: 130px;
  margin-bottom: 30px;
}
main > img, main > .round{
  margin: auto;
}
.statistics{
  width: 250px;
}
@media screen and (min-width: 1440px){
  .statistics{
    width: auto;
  }
}