.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.App{
  text-align: center;
  color: var(--primary-blue);
}
.App>*{
  padding: 0 20px 0;
}
.app-header{
  padding-top: 60px;
} 
main>*, footer>*{
  margin-top: var(--margin-vertical,40px);
  margin-bottom: var(--margin-vertical,40px);
} 


/**** Global styles *****/
h2{
  font-size: 1.6em;
  margin-top: 80px;
}

a[class]{
  text-decoration: none;
  /* color:inherit; */
}

.round{
  padding: 10px 30px;
  border-radius: 100px;
  background-color: var(--primary-orange);
  color: white;
  border: none;
  /* height: fit-content; */
}

.round.inverted{
  background-color: white;
  color: var(--primary-orange);
}
.dialog{
  border-radius: 5px;
}